
<div class="card card-stats" [ngClass]="{'loader-animated-background': !loaded}">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
                <div  *ngIf="icon" class="icon-big text-center icon-warning">
                    <i class="nc-icon {{icon}}"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">{{title}}</p>
                    <p class="card-title">{{value}}
                    <p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <hr>
        <div class="stats">
            <i class="fa fa-calendar-o"></i> Last update {{timeStamp | date :'dd-MMM-yy h:mm:ss'}}    
        </div>
      
    </div>
</div>