    <div class="card" style="background-color: #f8f9fa !important;">
          <div class="card-body">
              <div class="row">
                  <div class="col-lg-3">
                  <label>From:   <p-calendar [showTime]="true" hourFormat="12" [(ngModel)]="from"></p-calendar></label>

                  </div>

                   <div class="col-lg-3">
                   <label>To:  <p-calendar [showTime]="true" hourFormat="12" [(ngModel)]="to"></p-calendar></label>

                  </div>

                  <div class="col-lg-3">
                      <label>Count: <p-inputNumber placeholder="Default value 200" aria-placeholder="Default value 200" [(ngModel)]="count"></p-inputNumber></label>
                     
                  </div>
                  <div class="col-lg-2">
                       <button  style="margin-top: 0px;" [disabled]="messages.length === 0 && filters.length === 0" type="button"  class="btn btn-link" (click)="moreFilters()">
                      More filters
                    </button>
                      <button style="margin-top: 0px;" type="button" class="btn btn-default" (click)="search()">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-5">
                      <label>Selected Columns: 
                        

                      </label>

                        <p-multiSelect [options]="columns" (onChange)="changeSelectionColumns($event)"  [virtualScroll]="true" [itemSize]="30" [style]="{'width':'100%'}" [(ngModel)]="selectedColumns"></p-multiSelect>
                  </div>
                  <div class="col-lg-2">
                       <label style="margin-top:30px">Show Details:
                        <p-checkbox [(ngModel)]="allowDetails" [binary]="true" inputId="binary"></p-checkbox>
                      </label>
                     

                  </div>
              </div>
          </div>
    </div>
    <p-table #dt [value]="messages" dataKey="timestamp"  [loading]="!loaded"  [paginator]="true" [rows]="20" [showCurrentPageReport]="true" >
        <ng-template pTemplate="caption">
        <div class="p-d-flex">
         <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>

            
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="allowDetails"></th>
                
               <th *ngFor="let item of selectedColumns">
                     {{item}}
                </th>
                
            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-message let-expanded="expanded">
            <tr>
                <td *ngIf="allowDetails">
                    <button type="button" pButton pRipple [pRowToggler]="message"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>

                <td *ngFor="let item of selectedColumns">
                   {{message[item]}}
                </td>
                
            
                
            </tr>
        </ng-template>
        <ng-template  pTemplate="rowexpansion" let-message>
            <tr>
                <td colspan="7">
                    <div class="p-p-3" *ngIf="message?.fromatedMessage">
                        <table  class="table table-bordered">
                            <tbody>
                                <tr *ngFor="let map of message?.fromatedMessage | keyvalue">
                                    <td>
                                        {{map.key}}
                                    </td>
                                    <td>
                                        {{map.value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      
                     </div>
                     <div *ngIf="!message?.fromatedMessage">
                        {{message?.message}}
                     </div>
            </td>
            </tr>
         
         </ng-template>
    </p-table>

