<div class="card card-dark">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
       <span class="calendar-label"> From :</span>  <p-calendar  [(ngModel)]="from" [showTime]="true"></p-calendar> 
        <span class="calendar-label calendar-label-to">To :</span>  <p-calendar  [(ngModel)]="to" [showTime]="true"></p-calendar> 
      </div>
      
        <div class="col-lg-3" style="bottom: 10px;">
            <button type="button" (click)="moreFilters()" class="btn btn-default"><i class="fas fa-filter"></i></button>
        <button type="button" (click)="clearFilters()" class="btn btn-danger"><i class="fas fa-times"></i></button>
        <button type="button" (click)="search()" class="btn btn-primary"><i class="fas fa-search"></i></button>
       
       </div>

      
    </div>
    <div class="row">
      <div class="col-lg-4">
         <p-multiSelect
          [options]="columns"
          (onChange)="changeSelectionColumns($event)"
          [virtualScroll]="true"
          [itemSize]="30"
          [style]="{ width: '100%' }"
          [(ngModel)]="selectedColumns"
        ></p-multiSelect>
      </div>
    </div>
  </div>
</div>
<p-table
  #dt
  [value]="messages"
  dataKey="timestamp"
   [paginator]="true"
  [rows]="rows" [showCurrentPageReport]="true" 
                [loading]="!loaded"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,25,50,200,500,1000]"
>

  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-auto align-left">
        <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success p-mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
      </div>
    
         <div class="col-auto align-left">
            <input class="form-control" #countInput type="number" [(ngModel)]="count" placeholder="Messages size">
         </div>
         <div class="col-auto align-left">
           <select class="form-control" [(ngModel)]="sortDirection" (change)="sortByTimeStamp($event)">
        
          <option value="asc">
             asc
          </option>
          <option value="desc">
             desc
          </option>
        </select>
         </div>
    </div>

  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="allowDetails"></th>
       <ng-container *ngFor="let item of selectedColumns">
       <th>
         {{item}}
      </th>
       </ng-container>
      
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message let-expanded="expanded">
    <tr>
      <td *ngIf="allowDetails">
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="message"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>

      <td *ngFor="let item of selectedColumns">
        <ng-container *ngIf="item === 'timestamp'">
                {{ message[item] | date:'dd-MM-yyyy HH:mm:ss'}}
        </ng-container>
          <ng-container *ngIf="item !== 'timestamp'">
                {{ message[item] }}
        </ng-container>
      
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-message>
    <tr>
      <td colspan="7">
        <div class="p-p-3" *ngIf="message?.fromatedMessage">
          <table class="table table-bordered">
            <tbody>
              <tr *ngFor="let map of message?.fromatedMessage | keyvalue">
                <td>
                  {{ map.key }}
                </td>
                <td>
                  {{ map.value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!message?.fromatedMessage">
          {{ message?.message }}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
                  
                </ng-template>
</p-table>
