<div class="card" style="background-color: #f8f9fa !important">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for="from">From</label>
          <p-calendar
            [style]="{ width: '100%' }"
            id="from"
            [showTime]="true"
            hourFormat="12"
            [(ngModel)]="from"
          ></p-calendar>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="to">To</label>
          <p-calendar
            [style]="{ width: '100%' }"
            id="top"
            [showTime]="true"
            hourFormat="12"
            [(ngModel)]="to"
          ></p-calendar>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="count">Count</label>
          <p-inputNumber
            [style]="{ width: '100%' }"
            id="count"
            placeholder="Default value 200"
            aria-placeholder="Default value 200"
            [(ngModel)]="count"
          ></p-inputNumber>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-action">
          <button
            [disabled]="messages.length === 0 && filters.length === 0"
            type="button"
            class="btn btn-link"
            (click)="moreFilters()"
          >
            More filters
          </button>
          <button type="button" class="btn btn-default" (click)="search()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <label>Selected Columns: </label>

        <p-multiSelect
          [options]="columns"
          (onChange)="changeSelectionColumns($event)"
          [virtualScroll]="true"
          [itemSize]="30"
          [style]="{ width: '100%' }"
          [(ngModel)]="selectedColumns"
        ></p-multiSelect>
      </div>
      <div class="col-lg-3">
        <div class="p-field-checkbox">
          <p-checkbox
            [(ngModel)]="allowDetails"
            [binary]="true"
            inputId="allowDetails"
          ></p-checkbox>
          <label for="allowDetails">Show Details</label>
        </div>
      </div>
    </div>
  </div>
</div>
<p-table
  #dt
  [value]="messages"
  dataKey="timestamp"
  [loading]="!loaded"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success p-mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="allowDetails"></th>

      <th *ngFor="let item of selectedColumns">
        {{ item }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message let-expanded="expanded">
    <tr>
      <td *ngIf="allowDetails">
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="message"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>

      <td *ngFor="let item of selectedColumns">
        {{ message[item] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-message>
    <tr>
      <td colspan="7">
        <div class="p-p-3" *ngIf="message?.fromatedMessage">
          <table class="table table-bordered">
            <tbody>
              <tr *ngFor="let map of message?.fromatedMessage | keyvalue">
                <td>
                  {{ map.key }}
                </td>
                <td>
                  {{ map.value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!message?.fromatedMessage">
          {{ message?.message }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
