 <div class="container-fluid">
        <div class="row">
             <div class="card">
            <div class="card-header">
                <h5 class="card-title">Clusters list (Click on the Plus button on the grid footer to add a new cluster)</h5>
                
            </div>
            <div class="card-body">
                <p-table #dt1  [paginator]="true" [rows]="rows" [loading]="!loaded"
                     [value]="clusters"
                    [showCurrentPageReport]="true" 
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5,10,25,50,200,500,1000]">
                  
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Bootstrap</th>
                           
                            <th>
                                Status (click on the emoji to check the cluster availability)
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item?.id}}</td>
                            <td>{{item?.bootStrapServers}}</td>
                            <td>
                              <span style="cursor: pointer;" (click)="refreshStatus(item?.id)" [ngSwitch]="item?.status">
                                         
                                     <i *ngSwitchCase="'HEALTHY'" style="font-size:30px;" class="nc-icon nc-satisfied  text-success"></i> 
                                
            
                              <i  *ngSwitchCase="'UNHEALTHY'" style="font-size:30px;" class="far fa-angry  text-danger"></i> 
                               
                                
                                 <i *ngSwitchDefault style="font-size:30px;" class="nc-icon nc-alert-circle-i  text-warning"></i> 
                              
                              </span> 
                                
                               

                            </td>
                            
                            <td>
                            <button  (click)="delete(item?.id)" class="btn btn-warning"
                              >
                               <i class="fa fa-trash"></i>
                            </button>
                            <button [disabled]="item?.status !== 'HEALTHY'" (click)="dashboard(item?.id)"  style="cursor: pointer;" class="btn btn-primary" routerLinkActive="router-link-active" >
                            <i class="fas fa-chart-line"></i>
                            </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <p-button type="button" (click)="addNewCluster()" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                   
                </p-table>

            </div>

        </div>
        </div>

