<div class="content back-ground">
  <div class="section1">
    <div class="header-container">
     <h1>KAFKANA</h1>
    </div>
    
    <div class="mountain">
      <div class="mountain-words" >
          <app-add-new-cluster-button *ngIf="clusters.length == 0" (click)="addNewCluster()"></app-add-new-cluster-button>
        <div class="grid-layout"  *ngIf="clusters.length > 0"
        [@listAnimation]="clusters.length"
        cdkDropListGroup>
          <app-add-new-cluster-button (click)="addNewCluster()"></app-add-new-cluster-button>
          <ng-container *ngFor="let item of clusters; let i = index">
            <div
              cdkDropList
              [cdkDropListData]="{ item: item, index: i }"
              (cdkDropListDropped)="drop($event)"
              cdkDropListSortingDisabled="true"
            >
              <app-cluster (delete)="delete(item.id)" [item]="item" cdkDrag> </app-cluster>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
