<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
       <app-summary-card [title]="'Topic'"  [timeStamp]="summary?.timeStamp" [value]="summary?.topicCount" [icon]="'nc-money-coins text-success'"></app-summary-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-summary-card [title]="'Partition'" [timeStamp]="summary?.timeStamp" [value]="summary?.partitionCount" [icon]="'nc-app text-success'">
        </app-summary-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-summary-card [title]="'Broker'" style="cursor: pointer;" (click)="brokerDetails()" [timeStamp]="summary?.timeStamp" [value]="summary?.brokerCount" [icon]="'nc-laptop text-success'">
        </app-summary-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <app-summary-card [title]="'Preferred Replicated'" [timeStamp]="summary?.timeStamp" [value]="summary?.preferredReplicaPercent"
            [icon]="'nc-layout-11 text-success'">
        </app-summary-card>
    </div>
</div>
