<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add new Topic (s)</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="addNewForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="center-block"
                  >Name(s) comma separated:
                  
                </label>
                <input class="form-control" formControlName="topicName" />
              </div>
              <div
                *ngIf="
                  addNewForm.controls['topicName'].invalid &&
                  (addNewForm.controls['topicName'].dirty ||
                    addNewForm.controls['topicName'].touched) && isSubmit
                "
                class="alert alert-danger"
              >
                <div  *ngIf="
              addNewForm.controls['topicName'].invalid &&
              (addNewForm.controls['topicName'].dirty ||
                addNewForm.controls['topicName'].touched) && isSubmit
            ">
                  Topic name is required.
                </div>
              </div>
            </div>
          </div>

           <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="center-block"
                  >Partitions:
                 
                </label>
                 <input class="form-control" formControlName="partitions" />
              </div>
              <div
                *ngIf="
                  addNewForm.controls['partitions'].invalid &&
                  (addNewForm.controls['partitions'].dirty ||
                    addNewForm.controls['partitions'].touched)
                     && isSubmit
                  
                "
                class="alert alert-danger"
              >
                <div  *ngIf="
              addNewForm.controls['partitions'].invalid &&
              (addNewForm.controls['partitions'].dirty ||
                addNewForm.controls['partitions'].touched) && isSubmit
            ">
                   partitions count is required.
                </div>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label class="center-block"
                  >Replication Factor : 
                 
                </label>
                 <input class="form-control" formControlName="replication" />
              </div>
              <div
                *ngIf="
                  addNewForm.controls['replication'].invalid &&
                  (addNewForm.controls['replication'].dirty ||
                    addNewForm.controls['replication'].touched)
                     && isSubmit
                  
                "
                class="alert alert-danger"
              >
                <div  *ngIf="
              addNewForm.controls['replication'].invalid &&
              (addNewForm.controls['replication'].dirty ||
                addNewForm.controls['replication'].touched) && isSubmit
            ">
                   Replication count is required.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
               <div class="form-group">
                  <label class="center-block"
                  >Configurations:
                 
                </label>
                  <app-map-control
                  formControlName="configurations">
                </app-map-control>
               </div>
            </div>
          </div>
          <div class="form-group row">
           <div class="col-sm-10">
              <button type="button" (click)="save()" class="btn btn-primary">Save</button>
              <button type="button" [mat-dialog-close]="data.animal" class="btn btn-default">Cancel</button>
            </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
