  <p-table #dt1 [autoLayout]="true"  [globalFilterFields]="['name']" [value]="topics" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" 
                [loading]="!loaded"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,25,50,200,500,1000]">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                 
                        <span class="p-input-icon-right p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #search (input)="dt1.filterGlobal(search.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Partitions</th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-topic>
                    <tr (click)="details(topic?.name)" class="clickable-row">
                        <td>{{topic?.name}}</td>
                        <td>{{topic?.partitions?.length}}</td>
                        <td>
                          
                            <button pButton pRipple icon="pi pi-trash" (click)="deleteTopic(topic?.name)" class="p-button-rounded p-button-warning"
                              ></button>
                        </td>
                        <td>
                          
                     
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" (click)="addNewTopic()" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
               
            </p-table>