<p-table
  #dt1
  [autoLayout]="true"
  [globalFilterFields]="['name']"
  [value]="consumers"
  [paginator]="true"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [loading]="!loaded"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  dataKey="groupId"
  [rowsPerPageOptions]="[5, 10, 25, 50, 200, 500, 1000]"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-right p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          #search
          (input)="dt1.filterGlobal(search.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>

      <p-button
        title="force reload"
        class="force-reload-btn"
        (click)="loadConsumers(clusterId, true)"
        icon="pi pi-refresh"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Group Id</th>
      <th>Coordinator</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consumer let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="consumer"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ consumer?.groupId }}</td>
      <td>{{consumer.broker?.id}} - {{consumer.broker?.host}}:{{consumer.broker?.port}}</td>
    </tr>
  </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
     <tr>
         <td colspan="3">

          <p-table [value]="item?.members" dataKey="id" styleClass="p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th> Client Id</th>
                    <th>
                      Client Host
                    </th>
                    <th>
                      Topic 
                   </th>
                    <th>
                       Partition 
                    </th>
                    <th>
                      Last Committed Offset 
                    </th>
                    <th>
                      End of Offset
                    </th>
                    <th>
                      Lag
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-member>
                <tr class="small">
                  <td>
                    {{member.id}}
                 </td>
                 <td>
                  {{member.clientId}}
               </td>
                 <td>
                  {{member.host}}
               </td>
               <td>
                 {{member.topic}}
               </td>
               <td>
                {{member.partition}}
              </td>
               <td>
               {{member.lastCommittedOffset}}
               </td>
                
               <td>
                {{member.endOffsets}}
              </td>
              <td>
                {{member.lag}}
              </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">There are no members under this group.</td>
                </tr>
            </ng-template>
        </p-table>


         </td>
     </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft"> </ng-template>


</p-table>
