<p-table
  #dt1
  [autoLayout]="true"
  [globalFilterFields]="['name']"
  [value]="consumers"
  [paginator]="true"
  [rows]="rows"
  [showCurrentPageReport]="true"
  [loading]="!loaded"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  dataKey="groupId"
  [rowsPerPageOptions]="[5, 10, 25, 50, 200, 500, 1000]"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-right p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          #search
          (input)="dt1.filterGlobal(search.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>

      <p-button
        title="force reload"
        class="force-reload-btn"
        (click)="loadConsumers(clusterId, true)"
        icon="pi pi-refresh"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Group Id</th>
      <th>Topics Count</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consumer let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="consumer"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ consumer?.groupId }}</td>
      <td>{{ consumer?.topics?.length }}</td>
    </tr>
  </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
     <tr>
         <td colspan="3">
 <div class="row">
        <div class="col-lg-12">
    <table class="table borderless">
       
      <tbody>
       <ng-container *ngFor="let topic of item?.topics">
           <tr>
         <th>
             Topic Name :  {{
            topic.topic
          }}  
         </th>
         <th>
             total consumed offset
         </th>
          <th>
             last consumed offset
         </th>
        </tr>
           <tr *ngFor="let partition of topic.partitions">
              <td>
                 Partition: {{partition.partitionId}}
              </td>
              <td>
              {{partition.size}}
              </td>
               <td>
              {{partition.size == 0 ? partition.size : partition.size - 1}}
              </td>
           </tr>
       </ng-container>
      </tbody>
    </table>
        </div>
    </div>
         </td>
     </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft"> </ng-template>


</p-table>
